.card-3d {
  transform-style: preserve-3d !important;
  backface-visibility: hidden !important;
  transform-origin: center center !important;
  perspective: 800px !important;
  animation: card3DFloat 3s infinite alternate ease-in-out;
  animation-delay: var(--animation-delay, 0ms);
}

@keyframes card3DFloat {
  0% {
    transform: translate3d(0, var(--tw-translate-y), 0) rotateX(-2deg)
      rotateY(-1deg) rotateZ(-1deg);
  }
  50% {
    transform: translate3d(0, var(--tw-translate-y), 0) rotateX(1deg)
      rotateY(2deg) rotateZ(1deg);
  }
  100% {
    transform: translate3d(0, var(--tw-translate-y), 0) rotateX(-1deg)
      rotateY(-2deg) rotateZ(1deg);
  }
}
