@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dealCard {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0) scale(0.5) rotate3d(1, 0, 0, -45deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(
        var(--tw-translate-x, 0),
        var(--tw-translate-y, 0),
        0
      )
      scale(1) rotate3d(0, 0, 0, 0);
  }
}

.animate-dealCard {
  animation: dealCard 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
@theme {
  --outline-color: black;
  --outline-width: 2px;
}

@layer components {
  html,
  body {
    @apply bg-white;
  }
  .btn {
    @apply block w-full px-4 py-2 rounded-lg font-semibold transition-colors;
  }
  .btn-primary {
    @apply bg-blue-500 text-white;
  }
  .game-container {
    @apply bg-white max-w-xl mx-auto;
  }
  .buff-bar {
    @apply flex gap-2 p-4 border border-[3px] border-[rgba(0,0,0,0.25)] border-b-0 justify-end items-center bg-blue-500 rounded-t-xl;
  }
  .action-bar {
    @apply pt-4 bg-sky-300 border border-[3px] border-[rgba(0,0,0,0.25)] border-t-0  rounded-b-xl;
  }
  .action-bar-inner {
    @apply flex p-4  rounded-b-xl flex-row gap-2 justify-center bg-white/30 border-t border-[rgba(0,0,0,0.1)];
  }
  .hand-builder {
    @apply bg-gradient-to-t from-sky-300 to-blue-500 border border-[3px] border-[rgba(0,0,0,0.25)] border-t-0 border-b-0;
  }
  .word-input {
    @apply w-full p-2 border-2 rounded-lg focus:outline-none focus:border-blue-500;
  }
  .played-words {
    @apply bg-white p-4 rounded-t-xl;
  }
  .deck-status {
    @apply p-4 bg-gray-100 -mt-8 relative rounded-t-xl;
  }
}
